@tailwind base;

@layer base {
  *,
  *::before,
  *::after,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Cormorant Garamond", "Roboto", "Fredoka", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root {
    --color-blue: #123b97;
    --color-purple: #b10990;
    --color-purplelight: #9a0a7d1a;
    --color-text: #0d000bb2;
  }
}
@tailwind components;

.nav-link {
  @apply font-secondary text-base capitalize;
}
.heading-1 {
  @apply lg:text-4xl sm:text-[2rem] mobilelg:text-[1.7rem] text-[1.5rem] font-bold leading-tight text-[var(--color-text)] font-secondary;
}
.achievement-card {
  @apply flex justify-center flex-col items-center;
}
.achievement-number {
  @apply text-3xl font-tertiary font-semibold;
}
.achievement-text {
  @apply font-primary text-[1.1rem] text-center;
}

.img-split {
  @apply w-40  rounded-[80px] transform bg-no-repeat bg-cover;
}

.card {
  @apply flex flex-col justify-evenly rounded-lg shadow-lg lg:p-10 p-6 lg:w-[28%] tabletmd:w-[32%] sm:w-[45%] mobilelg:w-[47%] w-full h-[350px] bg-cover overflow-hidden bg-no-repeat bg-center transition duration-500 ease-in-out hover:scale-105;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.card-title {
  @apply text-white text-3xl font-secondary font-semibold;
}
.card-text {
  @apply text-white text-2xl/5 font-medium;
}

.card-btn {
  @apply lg:w-7/12 w-9/12 flex justify-center items-center mt-8 px-6 py-3 border-2 border-white text-[var(--color-blue)] hover:bg-transparent hover:text-white transition focus:ring-4 focus:ring-gray-800 focus:outline-none font-primary font-bold text-center   bg-white h-12 mobilexs:text-lg text-sm;
}

.cta-btn {
  @apply px-6 py-3 ring-1 ring-white hover:ring-0 text-white hover:bg-[var(--color-purple)] hover:text-white transition focus:ring-4 focus:ring-gray-800 focus:outline-none font-secondary  h-12 min-w-36 text-center mobilexs:text-lg text-sm flex items-center justify-center;
}

.primary-button {
  @apply px-6 py-3 text-white bg-[var(--color-blue)] hover:bg-[var(--color-purple)] transition focus:ring-4 focus:ring-gray-800 focus:outline-none font-secondary h-12 text-center mobilexs:text-lg text-sm flex items-center justify-center;
}
.ghost-button {
  @apply px-6 py-3 border-2 border-[var(--color-blue)] text-[var(--color-blue)] hover:bg-[var(--color-blue)] hover:text-white transition focus:ring-4 focus:ring-gray-800 focus:outline-none font-secondary  h-12 text-center flex items-center justify-center mobilexs:text-lg text-sm;
}

@tailwind utilities;
header {
  background: linear-gradient(to right, #fef4fc 50%, var(--color-blue) 50%);
}

::-webkit-scrollbar {
  background-color: #efefef;
  width: 8px;
  padding-left: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #d3d0d0;
  border-radius: 10px;
  width: 100%;
}
.card:nth-child(1) {
  background-image: url("../assets/images/touching-bg.png");
}

.card:nth-child(2) {
  background-image: url("../assets/images/making-bg.png");
}

.card:nth-child(3) {
  background-image: url("../assets/images/spreading-bg.png");
}

/* Add a transition to the menu to smoothly animate its entrance */
menu {
  transition: transform 0.5s, opacity 0.5s;
}

/* Define the animation for the menu's entrance */
.animate-entrance {
  animation: entrance 0.5s forwards;
}
.animate-exit {
  animation: exit 0.5s forwards;
}

/* Add a circular animation to the menu's entrance */
.animate-entrance::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  animation: circle 0.5s forwards;
}
/* Add a circular animation to the menu's exit */
.animate-exit::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  animation: circle-exit 0.5s forwards;
}

.swiper {
  width: 90%;
  padding-block: 40px !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px !important;
  position: relative;
  aspect-ratio: 3/4 !important;
  filter: grayscale(100%) contrast(120%) brightness(80%) !important;
  transition: filter 0.5s ease-in-out;
  transform: scale(0.9);
}
.swiper-slide-active {
  transform: scale(1.3);
  filter: none !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 490px !important;
}
.swiper-button-next {
  right: 400px !important;
}
.swiper-button-prev {
  left: 400px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet {
  display: none;
}
/* 
.swiper-pagination-bullet-active {
  width: 15px !important;
  background-color: var(--color-purple) !important;
  transition: all 0.3s ease;
} */
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  border-radius: 25px;
  display: none;
}
#projectEducate img {
  box-shadow: 4px 4px 20px 0px #00000040;
}

#achievement {
  background-image: url("../assets/images/achievement-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aboutSection {
  background-image: url("../assets/images/about-bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 700px;
}

#support {
  background-image: url("../assets/images/bg-spiral.png");
  background-size: cover;
  background-blend-mode: overlay;
  /* background-color: var(--color-blue); */
  background-position: top right;
  background-repeat: no-repeat;
}

#ctaSection {
  background-image: url("../assets/images/achievement-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}
#donationTitle {
  background-image: url("../assets/images/about-bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 300px;

  /* min-height: 700px; */
}

#projectEducate {
  background-image: url("../assets/images/about-bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: repeat-y;
  min-height: 700px;
}
.donation-card {
  /* width: 32%; */
  background-image: url("../assets/images/donate/donation-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.quote {
  background-image: url("../assets/images/quote-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-purple);
  background-blend-mode: overlay;
  opacity: 1;
}

@keyframes entrance {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes circle {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes circle-exit {
  0% {
    transform: translate(50%, 50%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(0);
    opacity: 1;
  }
}

@media screen and (max-width: 567px) {
  .swiper-button-next {
    right: 300px !important;
  }
  .swiper-button-prev {
    left: 300px !important;
  }
}
@media screen and (max-width: 480px) {
  .swiper-button-next {
    right: 150px !important;
  }
  .swiper-button-prev {
    left: 150px !important;
  }
}

@media screen and (max-width: 376px) {
  .swiper-button-next {
    right: 100px !important;
  }
  .swiper-button-prev {
    left: 100px !important;
  }
}
